@*@model QuanLyTour.Models.User*@
@model IEnumerable<QuanLyTour.Models.User>

@{
    ViewBag.Title = "User Home";
    Layout = "~/Views/Shared/_User_layout.cshtml";
}


@foreach (var item in Model)
{
<h3>Hello, @Html.DisplayFor(modelItem => item.Name)</h3>
        
}

@*<div>
        <h2>@Html.DisplayFor(model => model.Name)</h2>
        <h4>User Home</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Password)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Password)
            </dd>

        </dl>
    </div>*@
