@model IEnumerable<QuanLyTour.Models.Tour>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Admin/_Admin_layout.cshtml";
}

<h2>Tours</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TourID)
        </th>
        <th>
            Name
        </th>
        <th>
            Description
        </th>
        <th>
            Price
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TourID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TourName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TourDescription)
        </td>
        <td>
            $@item.TourPrice
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }, new { @class = "btn btn-outline-success" })
            @Html.ActionLink("Delete", "Delete", new { id=item.ID }, new {@class="btn btn-outline-danger" })
        </td>
    </tr>
}

</table>
