@model IEnumerable<QuanLyTour.Models.Tour>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Admin/_Admin_layout.cshtml";
}

<h2>Tours</h2>
<div style="display: flex; margin-bottom: 2rem">
    <div style="flex: 1">
        @using (Html.BeginForm(null, null, FormMethod.Get, new { @class = "form-inline" }))
        {
            @Html.TextBox("q", null, new { @class = "form-control mr-sm-2" })
            <button type="submit" class="btn btn-outline-success my-2 my-sm-0">Find tours</button>
        }
    </div>
</div>
<table class="table">
    <tr>
        <th>
            ID
        </th>
        <th>
            Name
        </th>
        <th>
            Description
        </th>
        <th>
            Price
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TourID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TourName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TourDescription)
        </td>
        <td>
           @{
            var totalMoney = (double.Parse(item.TourPrice));
            var Money = totalMoney.ToString("C", new System.Globalization.CultureInfo("en-US"));
            }
            @Money
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }, new { @class = "btn btn-outline-success" })
            @Html.ActionLink("Delete", "Delete", new { id=item.ID }, new {@class="btn btn-outline-danger" })
        </td>
    </tr>
}

</table>
