@model QuanLyTour.Models.TourGroup

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Admin/_Admin_layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div class="card card-body">
    <p class="card-title display-4">@Html.DisplayFor(model => model.Tour.TourName)</p>
    <p>Group ID: <strong>@Html.DisplayFor(model => model.TourGroupID)</strong></p>
    <p>Name: <strong>@Html.DisplayFor(model => model.Name)</strong></p>
    <p>Description: <strong>@Html.DisplayFor(model => model.Description)</strong></p>
    <p>Leave Date: <strong>@Html.DisplayFor(model => model.LeaveDate)</strong></p>
    <p>Return Date: <strong>@Html.DisplayFor(model => model.ReturnDate)</strong></p>
    <p>Status:  <strong>@Html.DisplayFor(model => model.Status)</strong></p>
    <p>Number of people:  <strong>@Html.DisplayFor(model => model.NumberOfPeople)</strong></p>
    <div class="card-action">
        @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" />
            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary" })
        </div>
}
    </div>
</div>
