@model QuanLyTour.Models.TourGroup

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Admin/_Admin_layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>TourGroup</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Tour.TourName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tour.TourName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TourGroupID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TourGroupID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LeaveDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LeaveDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReturnDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReturnDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberOfPeople)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfPeople)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
