@model QuanLyTour.Models.TourGroup

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Admin/_Admin_layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>TourGroup</h4>
    <hr />
    <div class="card card-body">
        <p class="card-title display-4">@Html.DisplayFor(model => model.Tour.TourName)</p>
        <p>Group ID: <strong>@Html.DisplayFor(model => model.TourGroupID)</strong></p>
        <p>Name: <strong>@Html.DisplayFor(model => model.Name)</strong></p>
        <p>Description: <strong>@Html.DisplayFor(model => model.Description)</strong></p>
        <p>Leave Date: <strong>@Html.DisplayFor(model => model.LeaveDate)</strong></p>
        <p>Return Date: <strong>@Html.DisplayFor(model => model.ReturnDate)</strong></p>
        <p>Status:  <strong>@Html.DisplayFor(model => model.Status)</strong></p>
        <p>Number of people:  <strong>@Html.DisplayFor(model => model.NumberOfPeople)</strong></p>
        <div class="card-action">
            @Html.ActionLink("Edit", "Edit", new { id = Model.ID }, new { @class="btn btn-outline-success" })
            @Html.ActionLink("Back to List", "Index", null, new { @class="btn btn-primary" })
        </div>
    </div>
</div>
