@model IEnumerable<QuanLyTour.Models.TourGroup>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Admin/_Admin_layout.cshtml";
}

<h2>Tour Groups</h2>
<div style="display: flex; margin-bottom: 2rem">
    <div style="flex: 1">
        @using (Html.BeginForm(null, null, FormMethod.Get, new { @class = "form-inline" }))
        {
            @Html.TextBox("q", null, new { @class = "form-control mr-sm-2" })
            <button type="submit" class="btn btn-outline-success my-2 my-sm-0">Find groups</button>
        }
    </div>
    <div style="">
        @Html.ActionLink("New group", "Create", null, new { @class = "btn btn-outline-primary" })
    </div>
</div>

<table class="table">
    <tr>
        <th>
            Tour
        </th>
        <th>
            Group name
        </th>
        <th>
            Leave date
        </th>
        <th>
            Return date
        </th>
        <th>
            Status
        </th>
        <th>
            Number of people
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Tour.TourName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @item.LeaveDate.ToShortDateString()
        </td>
        <td>
            @item.ReturnDate.ToShortDateString()
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumberOfPeople)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }, new { @class="btn btn-outline-success" })
            @Html.ActionLink("Details", "Details", new { id=item.ID }, new { @class = "btn btn-outline-info" })
            @Html.ActionLink("Delete", "Delete", new { id=item.ID }, new { @class = "btn btn-outline-danger" })
        </td>
    </tr>
}

</table>
