@model IEnumerable<QuanLyTour.Models.Location>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Admin/_Admin_layout.cshtml";
}

<h2>Available Locations</h2>

<p>
    @Html.ActionLink("Add new location", "Create", null, new { @class = "btn btn-outline-primary" })
</p>
<table class="table">
    <tr>
        <th>
            Location ID
        </th>
        <th>
            Name
        </th>
        <th>
            Description
        </th>
        <th>
            Country
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.LocationID)
        </td>
        <td class="text-truncate" style="max-width: 20rem;">
            @Html.DisplayFor(modelItem => item.LocationName)
        </td>
        <td class="text-truncate" style="max-width: 20rem;">
            @Html.DisplayFor(modelItem => item.LocationDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Country)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ID }, new { @class = "btn btn-outline-dark" })
            @Html.ActionLink("Details", "Details", new { id = item.ID }, new { @class = "btn btn-outline-info" })
            @Html.ActionLink("Delete", "Delete", new { id = item.ID }, new { @class = "btn btn-outline-danger" })
        </td>
    </tr>
}

</table>
