
@{
    ViewBag.Title = "Booked";
    Layout = "~/Views/Shared/_User_layout.cshtml";
}

<h2 class="display-4">Yay!</h2>
<p class="lead">Book tour successfully</p>
<h3>Brief detail</h3>
<p>Tour name: @ViewBag.Tour.TourName</p>
<p>Tour description: @ViewBag.Tour.TourDescription</p>
<p>Group: @ViewBag.tourGroup.Name</p>
<p>Leave Date: @ViewBag.tourGroup.LeaveDate</p>
<p>Return Date: @ViewBag.tourGroup.ReturnDate</p>
<p>Price: $@ViewBag.Tour.TourPrice</p>

