@model QuanLyTour.Models.Tour

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_User_layout.cshtml";
}

<h2>Details about</h2>

<div>
    <h4 class="display-4">@Html.DisplayFor(model => model.TourName) Tour</h4>
    <hr />
    <dl class="dl-horizontal">
        <h3>
            Price: $@Html.DisplayFor(model => model.TourPrice)
        </h3>
        <h3>Info</h3>
        <p>
            @Html.DisplayFor(model => model.TourDescription)
        </p>
        <h3>
            Destinations of the tour
        </h3>
        <table class="table table-striped">
            <tr>
                <th>Name</th>
                <th>Detail</th>
            </tr>
            @if (Model.TourDetails != null)
            {
                foreach (var item in Model.TourDetails)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Location.LocationName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Location.LocationDescription)
                    </td>
                </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="2" style="text-align:center;">Not found</td>
                </tr>
            }
        </table>
        <h3>
            Available Group(s)
        </h3>

        <dd>
            <table class="table table-striped">
                <tr>
                    <th>Name</th>
                    <th>Leave day</th>
                    <th>Return day</th>
                    <th>Number of People</th>
                    <th></th>
                </tr>
                @if (Model.TourGroups.Count > 0)
                {
                    foreach (var item in Model.TourGroups)
                    {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LeaveDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ReturnDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NumberOfPeople)
                    </td>
                    @if (Session["UserEmail"] != null){
                <td>
                    @Html.ActionLink("Book", "BookATour", new { groupId = item.ID, id = Model.TourID }, new { @class = "btn btn-outline-primary" })
                </td>
                    }
                    else
                    {
                        <td>
                            @Html.ActionLink("Sign in to book", "SignIn", "User", null, new { @class = "nav-link" })
                        </td>
                    }
                </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="4" style="text-align:center;">Not available</td>
                </tr>
            }
            </table>
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-outline-dark" })
</p>
