@model QuanLyTour.Models.Bill

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Admin/_Admin_layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Bill</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.User.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TourGroupID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TourGroupID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TourID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TourID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TourPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TourPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
