@model QuanLyTour.Models.Bill

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Admin/_Admin_layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Bill</h4>
    <hr />
    <div class="card card-body">
        <p class="card-text lead">
            User: <strong>@Html.DisplayFor(model => model.User.Name)</strong>
        </p>

        <p class="card-text">
            Group ID: <strong>@Html.DisplayFor(model => model.TourGroupID)</strong>
        </p>
        <p class="card-text">
            Tour ID: <strong>@Html.DisplayFor(model => model.TourGroupID)</strong>
        </p>

        <p class="card-text">
            Tour Price @{
            var TourPrice = (double.Parse(Model.TourPrice));
            var Price = TourPrice.ToString("C", new System.Globalization.CultureInfo("en-US"));
            }
            <strong>@Price</strong>
        </p>
        <p class="card-text">
            Number of tickets: <strong>@Html.DisplayFor(model => model.NumberOfTicket)</strong>
        </p>
        <p class="card-text">
            Have to pay: @{
            var totalMoney = (double.Parse(Model.TourPrice) * Model.NumberOfTicket);
            var Money = totalMoney.ToString("C", new System.Globalization.CultureInfo("en-US"));
            }
            <strong>@Money</strong>
        </p>

        <p class="card-text">
            Bill status: <strong>@Html.DisplayFor(model => model.Status)</strong>
        </p>
        <div class="card-action">
            @Html.ActionLink("Edit", "Edit", new { id = Model.ID }, new { @class="btn btn-primary"})
            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-dark"})
        </div>
    </div>
</div>
